html {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: white;
  /*
  background-image: url('etch.JPG');
  background-size: cover;
  background-repeat: no-repeat; 
  */
}

div.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
}

div.container {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  overflow: hidden;
  max-width: 800px;
  height: 100%;
  padding: 0;
  margin: auto;
  border: 1px solid black;
}

div.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 25%;
}

div.breaker {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

.block {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100px;
  border: 1px solid black;
}